<h1>Property Details </h1>
<br>

<p id="notice"><%= notice %></p>


<% n = 0 %>
<% @place.stations.each do |x| %>
	<% if x.station_name.present? %>
		<% n += 1 %>
	<% end %>
<% end %>
<h3>This property has <%= n %> nearest station(s)</h3>

<hr>
<p>
  <strong>Property's name:</strong>
  <%= @place.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @place.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Building's age:</strong>
  <%= @place.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @place.remarks %>
</p>

<hr>
 <div>
<%n = 0%>
<% @place.stations.each do |station|%>
    <% if station.station_name.present? %>
    <h2>Nearest Station<%= n += 1 %></h2>

  <p>
    <strong>Name of railway line:</strong>
    <%= station.name_of_railway_line %>
  </p>

  <p>
    <strong> Station:</strong>
    <%= station.station_name %>
  </p>
  <p>
    <strong>By walk:</strong>
    <%= station.how_many_mins_walk %>
  </p>
  <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
